
* {
	box-sizing: border-box;
}

.container {
	padding: 10px;
	display: flex;
	justify-content:center;
	flex-direction: column;
	height: 300px
}

.item{
	font-family: "Muli", Georgia, "Times New Roman", serif;
	font-weight: bold;
	color: #FFFFFF;
	padding: 15px;
	margin: 5px;
	background: #A33121;
	border-radius: 3px;
}


html {
	font-size: 100%
}

p {
    font-family: "Muli", Georgia, "Times New Roman", serif;
	font-size: 1rem;
	line-height: 1.5rem;
}

.italic {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 2.5rem;
	color:#A33121;
}

h2 {
	font-size: .75rem;
	color: darkred;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;


}

body{
	background-color:silver;
}

#container{
    width: 95%;
    background-color: #ffffff;
    margin: 0 auto;
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav{
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}


#nav a:link, a:visited {
	display:block;
    color: none;
    background-color: #98bf21;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #7a991a;
}

.caption {
    color: black;
    font-family: "Muli", "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
    color: black;
    font-family: "Muli", "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}


#header {
	color: black;
	background-color:#2F00FF;
	font-family: "Muli", "Times New Roman", serif;
	font-size: 0.8em;

}

ul {
list-style-type: none;
padding: 1;

}

#list {
	color: black;
	background-color: gold;
	font-family: "Roboto", "Times New Roman", serif;
	font-size: 0.8em;
}

a:link {
	color:#B211AC;
	text-decoration: none;
	font-family: "Times New Roman", serif, Georgia;
}
a:visited {
	color:#B211AC;
	font-family: "Times New Roman", serif, Georgia;
}

.grid-container {
  display: inline-grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.pic1 {

}

.pic2 {

}

.pic3 {

}

.pic4 {
image-orientation: 90deg;
}

.pic5 {
	image-orientation: 45deg;

}
